{% extends 'base.html' %}
{% load static %}

{% block page_header %}
    <!-- to push header below main nav bar and site header -->
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
<div class="background-biketalk">
    <div class="container">
    <div class="row">
        <!-- contact us -->
        <div class="col">
            <!-- main heading -->
            <h2 class="info-spacing bg-heading"><strong>BikeTalk</strong></h2>
            <h3 class="biketalk-subheading">What is BikeTalk?</h3>
                <p>BikeTalk is a forum for mountain bike enthusiasts about pretty much anything to do with
                    bikes, from amazing bike rides, to stories from mountain bike rider legends, to maintenance tips.
                    We'd love to receive your feedback! Be it comments, ideas, suggestions for other articles and 
                    even how we can improve this feature.
                </p>
            <!-- Blog Entries Column -->
            <div class="col-12 col-position">
                <div class="row justify-content-center">
                <!-- for loop: to iterate through list of posts -->
                {% for article in article_list %}
                <!-- column holding a card with content containing the post overview -->
                <div class="col-md-4 article-list-size">
                    <div class="card">
                        <div class="card-body article-list-mobile">
                            <div>
                                <!-- author of post -->
                                <p class="author">Author: {{ article.author }}</p>
                            </div>
                            <!-- to enable users to click on blog title or excerpt -->
                            <a href="{% url 'article_content' article.slug %}" class="article-post-link">
                                <h2 class="card-title title">{{ article.article_name }}</h2>
                                <p class="card-text">{{ article.excerpt }}</p>
                            </a>
                            <hr />
                            <!-- date post created on -->
                            <p class="card-text text-muted h6 created-on">{{ article.created_on }} 
                                <!-- Font Awesome heart with number of likes -->
                                <i class="far fa-heart article-like"></i>{{ article.number_of_likes }}</p>
                        </div>
                    </div>
                </div>
                <!-- if statement: if chat posts are divisible by 2 -->
                {% if forloop.counter|divisibleby:2 %}
            </div>
            <!-- displays 2nd row if more than 2 chat posts -->
            <div class="row justify-content-center">
            
                {% endif %}
                {% endfor %}

            </div>
        </div>
        

        </div>
    </div>
</div>
</div>
<br>
{% endblock content %}
