{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <!-- to push header below main nav bar and site header -->
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
<div class="container h-100">
        <div class="row h-100">
            <!-- contact us -->
            <div class="col">
                <!-- main heading -->
                <h2 class="info-spacing bg-heading"><strong>Contact Us</strong></h2>
                <h3 class="green">We'd Love to Hear from You!</h3>
                    <p class="gen-text bg-text">
                        Whether you curious about our products, want to book a test ride, or have a problem -
                        we're ready to answer any and all questions
                    </p>    
                    <p class="gen-text bg-text">
                        Please call our customer services on <strong>0800 333 7777</strong>
                        if you have any questions on the following:      
                    </p>
                    <ul>
                        <li>
                            Product information (clarification on existing products;
                            queries about future products; assistance with our Buying Guides and Sizing Guides)
                        </li>
                        <li>
                            Website queries (shopping bag problems; any IT issues)
                        </li>
                        <li>
                            Store information (locations, contact numbers; book a test ride)
                        </li>
                        <li>
                            Billing queries (order, payment or invoice issues)
                        </li>
                        <li>
                            General queries (our terms and conditions; our Cycle to Work Scheme)
                        </li>
                    </ul>

                <h4 class="bg-subheading">Complaints</h4>

                <p class="gen-text bg-text">
                    Summit Bike Co. takes all feedback very seriously and aims to deal with complaints as quickly
                    and effectively as possible.  For any complaints please call our customer services on 0800 333 7777.
                </p>
                <p class="gen-text bg-text">
                    For complaints relating to orders placed through the Website and to assist Summit Bike Co. in 
                    dealing with your complaint as smoothly as possible, please ensure you have all details of the
                    complaint (such as any email or written correspondence) and your order number ready before calling us.
                </p>

                <h4 class="bg-subheading">Our head office address and company information</h4>
                <address>
                    <br>  
                    <p class="address"><strong>Summit Bike Co. Retail Ltd</strong></p>
                    <p class="address">Block C,</p>
                    <p class="address">Industrial Park,</p>
                    <p class="address">Wiltshire,</p>
                    <p class="address">SN18 3YP</p>
                </address> 
                    <p class="gen-text bg-text"><strong>Company Number</strong> : 12365489</p>
                    <p class="gen-text bg-text"><strong>Number</strong> : GB 231 2008 28</p>
                    
            </div>
        </div>
</div>


{% endblock %}