{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <!-- to push header below main nav bar and site header -->
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
<div class="">
    <div class="container h-100">
        <div class="row h-100">
            <!-- buying guide -->
            <div class="col mt-5">
                
                <h2 class="logo heading">Contact Us</h2>
                    <p class="gen-text bg-text">
                        Please call our customer services on 0800 333 7777
                        if you have any questions on the following:      
                    </p>
                    <ul>
                        <li>
                            Product information (clarification on existing products;
                            queries about future products; assistance with our Buying Guides and Sizing Guides)
                        </li>
                        <li>
                            Website queries (shopping bag problems; any IT issues)
                        </li>
                        <li>
                            Store information (locations and contact numbers)
                        </li>
                        <li>
                            Billing queries (order problems; payment issues; invoice issues)
                        </li>
                    </ul>

                <h3>Complaints</h3>

                <p class="gen-text bg-text">
                    Summit Bike Co takes all feedback very seriously and aims to deal with complaints as quickly
                    and effectively as possible.  For any complaints please call our customer services on 0800 333 7777.
                </p>
                <p class="gen-text bg-text">
                    For complaints relating to orders placed through the Website and to assist Summit Bike Co in 
                    dealing with your complaint as smoothly as possible, please ensure you have all details of the
                    complaint (such as any email or written correspondence) and your order number ready before calling us.
                </p>

                <h3>Our head office address and company information</h3>
                <address class="address">  
                    <p>Summit Bike Co Retail Ltd</p>
                    <p>Block C,</p>
                    <p>Industrial Park,</p>
                    <p>Wiltshire,</p>
                    <p>SN18 3YP</p>
                </address> 
                    <p class="gen-text bg-text">Company Number: 12365489</p>
                    <p class="gen-text bg-text">VAT Number: GB 231 2008 28</p>
                    
            </div>
        </div>
        
    </div>
</div>


{% endblock %}