{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <!-- to push header below main nav bar and site header -->
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
<div class="">
    <div class="container h-100">
        <div class="row h-100">
            <!-- buying guide -->
            <div class="col mt-5">
                
                <h2 class="logo heading">Cycle to Work Scheme</h2>
                    <p class="gen-text bg-text">
                        
                    </p>

                <h4>...</h4>
                    <p class="gen-text bg-text">
                        
                    </p>

                
            </div>
        </div>
        
    </div>
</div>


{% endblock %}