{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <!-- to push header below main nav bar and site header -->
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
<div class="">
    <div class="container h-100">
        <div class="row h-100">
            <!-- buying guide -->
            <div class="col">
                
                <h2 class="info-spacing bg-heading"><strong>Cycle to Work Scheme</strong></h2>
                    <p class="gen-text bg-text">
                        Are you an employer who is interested in the Ride to Work Scheme? 
                    </p>
                    <p class="gen-text bg-text">
                        There are benefits
                        to both employers and employees in partaking in the 'Cycle to Work Initiative'.
                    </p>
                    <p class="gen-text bg-text">
                        Here at Summit Bike Co we know that efficient businesses are often too busy with
                        day-to-day operations and may not have the time or manpower to investigate how the
                        Cycle to Work Scheme could benefit your employees.
                    </p>                
                    <p class="gen-text bg-text">
                        Click <a href="https://www.gov.uk/government/publications/cycle-to-work-scheme-implementation-guidance" target="_blank">here</a> 
                        to find out more about the UK Government initiative: 'Cycle to Work Scheme Implementation Guidance for Employers'
                            and then contact us so we can assist you in completing all the 'paperwork'.
                    </p>

                <h4 class="bg-subheading">Its as easy as 1-2-3-4 !</h4>
                    <p class="gen-text bg-text">    
                        We have devised a simple 4-step process that will assist employers and businesses in applying to the 'cycle to work scheme'.
                    </p>
                <table>
                    <tr class="icons">
                        <td><i class="fa fa-file-text" aria-hidden="true"></i></td>
                        <td class="center"><strong>Step 1</strong>  :  Sign up with Ride-To-Work</td>
                    </tr>
                    <tr class="icons">    
                        <td><i class="fa fa-user" aria-hidden="true"></i></td>
                        <td class="center"><strong>Step 2</strong>  :  Promote Ride-To-Work to your employees</td>
                    </tr>
                    <tr class="icons">
                        <td><i class="fa fa-thumbs-o-up" aria-hidden="true"></i></td>
                        <td class="center"><strong>Step 3</strong>  : Approve your employee applications</td>
                    </tr>
                    <tr class="icons">
                        <td><i class="fa fa-smile-o" aria-hidden="true"></i></td>
                        <td class="center"><strong>Step 4</strong>  :  Salary sacrifice starts - happy employees</td>
                    </tr>
                </table>
                 <br>                
            </div>
        </div>
        
    </div>
</div>


{% endblock %}