{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <!-- to push header below main nav bar and site header -->
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
<div class="">
    <div class="container h-100">
        <div class="row h-100">
            <!-- who we are -->
            <div class="col">
                
                <h2 class="info-spacing bg-heading"><strong>Who We Are</strong></h2>
                    <p class="gen-text bg-text">
                        In 1950, the first shop of Summit Bike Co. opened in Wiltshire, England. Trading from this site
                        for over 20 years, Summit Bike Co. has built up a strong reputation as a quality cycle shop. 
                        Our award-winning stores are the heart and soul of our company - the "go-to" place for 
                        cyclists of all levels and disciplines.
                    </p>
                    <p class="gen-text bg-text">    
                        Most of our store colleagues are avid cyclists themselves, and extensive training ensures
                        the highest levels of technical ability and knowledge. We pride ourselves on giving customers
                        the right information to make informed decisions about their choice of mountain bike.
                    </p>
                    <p class="gen-text bg-text">
                        All stores have areas where you can test ride any of instore bikes.  We also have agreements
                        with some of the more popular bike parks for a discounted membership.  Please enquire at your
                        local store for more information. We have stores in the South West England, South East England
                        and the greater London area.
                    </p>
                    <p class="gen-text bg-text">
                        Please contact customer services on <strong>0800 333 7777</strong> should you have any questions.
                    </p>

                <h3 class="bg-subheading">Online Shopping</h3>
                    <p class="gen-text bg-text">
                        In 1999 Summit Bike Co. completed its transaction online, ready to adapt to the new world of
                        e-commerce. Since its inception, the Summit Bike Co. website has been in a state of constant
                        evolution, adding features and functionality to keep pace with our customers' sophisticated
                        online shopping needs, whilst at the same time expanding our range to include a comprehensive
                        selection of mountain bikes.
                    </p>
   
            </div>
        </div>
        
    </div>
</div>


{% endblock %}