{% extends "base.html" %}
{% load static %}
{% load bag_tools %}

{% block page_header %}
    <!-- to push header below main nav bar and site header -->
    <div class="container header-container mx-0 w-100">
        <div class="row w-100 mx-0">
            <div class="col pr-0"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
<div class="container mb-2 mx-0 px-0 w-100">
    <div class="row w-100 mx-0">
        <div class="col">
            <!-- page heading -->
            <h2 class="bag-heading mb-4"><strong>Shopping Bag</strong></h2>
        </div>
    </div>

    <div class="row w-100 mx-0">
        <!-- table showing contents of shopping bag -->
        <div class="col-12 w-100">
            <!-- if something in bag, render product info table -->
            {% if bag_items %}
            <div class="d-block w-100">
                <div class="row w-100 mx-0">
                    <div class="col">
                        {% include "bag/bag-total.html" %}
                    </div>
                </div>
                <div class="row w-100 mx-0">
                    <div class="col">
                        {% include "bag/checkout-buttons.html" %}
                        <!-- bag summary -->
                        <p class="gen-text mb-0 mt-2 green">Summary of your bag contents:</p>
                    </div>
                </div>
                {% for item in bag_items %}
                    <div class="row w-100 mx-0">
                        <div class="col-12 mb-2">
                            <!-- product image -->
                            {% include "bag/product-image.html" %}
                        </div>
                        <div class="col-12 mb-2">
                            <!-- product information -->
                            {% include "bag/product-info.html" %}
                        </div>
                        <div class="col-12 ">
                            <!-- price and subtotal -->
                            <p class="my-0">Price: £{{ item.product.price_now }}</p>
                            <p><strong>Subtotal: </strong>£{{ item.product.price_now | calc_subtotal:item.quantity }}</p>
                        </div>
                        <div class="col-sm-4 col-md-3 ">
                            <!-- product quantity -->
                            {% include "bag/quantity-form.html" %}
                        </div>
                    </div>
                    <!-- add horizontal row after each product -->
                    <div class="row w-100 mx-0">
                        <div class="col-12"><hr></div>
                    </div>
                {% endfor %}
               

            {% else %}
                <!-- if nothing in bag, display message -->
                <p class="lead mb-5">Your bag is empty.</p>
                <!-- button to return to products page -->
                <a href="{% url 'products' %}" class="btn keep-shopping-btn rounded-0 btn-lg">
                    <span class="icon">
                        <!-- font awesome icon: left chevron -->
                        <i class="fas fa-chevron-left"></i>
                    </span>
                    <span class="text-uppercase">Keep Shopping</span>
                </a>
            {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}

<!-- javascript (includes) for quantity_input_script.html -->
{% block postloadjs %}
    <!-- block.super to ensure this code is appended to anything else 
        already in the block (i.e. base.html), rather than replacing it -->
{{ block.super }}

<!-- scroll button to move to top of page -->
<script>
    $('.btt-link').click(function(e) {
        window.scrollTo(0,0)
    })
</script>

{% include 'products/includes/quantity_input_script.html' %}

<script>
    // on click event of update-link
    $('.update-link').click(function(e) {
        // use previous to find most recent update form in the DOM
        var form = $(this).prev('.update-form');
        // call form.submit method
        console.log("form", form);
        form.submit();
        console.log("form submitted");
    })

    // on click event of remove-item
    $('.remove-item').click(function(e) {
        // store csrf token as a string
        var csrfToken = "{{ csrf_token }}";
        // need itemId (obtained by splitting id of update link) and size of item to be removed
        var itemId = $(this).attr('id').split('remove_')[1];
        // use data method to get size from 'size' attribute
        var size = $(this).data('product_size');
        var url = `/bag/remove/${itemId}/`;
        // 'data' is object used to send this data to the server
        var data = {'csrfmiddlewaretoken': csrfToken, 'product_size': size};
        // post data to a url
        $.post(url, data)
            // await response from server
            .done(function() {
                // reload page to reflect updated bag
                location.reload();
            });
    })
</script>

{% endblock %}