{% extends "base.html" %}
{% load static %}
{% load bag_tools %}

{% block page_header %}
    <!-- to push header below main nav bar and site header -->
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
<div class="container mb-2">
    <div class="row">
        <div class="col">
            <hr>
            <!-- page heading -->
            <h2 class="logo-font mb-4">Shopping Bag</h2>
            <hr>
        </div>
    </div>

    <div class="row">
        <!-- table showing contents of shopping bag -->
        <div class="col">
            <!-- if something in bag, render product info table -->
            {% if bag_items %}
                
            <div class="table-responsive rounded">
                <table class="table table-sm table-borderless">
                    <thead class="gen-text">
                        <tr>
                            <th scope="col">Product Info</th>
                            <!-- blank column to allow product info to span 2 columns -->
                            <th scope="col"></th>
                            <th scope="col">Price</th>
                            <th scope="col">Qty</th>
                            <th scope="col">Subtotal</th>
                        </tr>
                    </thead>
                    <!-- iterate through each item in shopping bag -->
                    {% for item in bag_items %}
                        <tr>
                            <!-- column 1: product image -->
                            <td class="p-3 w-25">
                                <img class="img-fluid rounded" src="{{ item.product.image.url }}">
                            </td>
                            <!-- column 2: product name and sku -->
                            <td class="py-3">
                                <p class="my-0"><strong>{{ item.product.bike_model }}</strong></p>
                                <!-- renders size chosen by user (from bike_detail) -->
                                <p class="my-0"><strong>Size: </strong>{% if item.product.sizes %}{{ item.size|upper }}{% else %}N/A{% endif %}</p>
                                <p class="my-0 small text-muted">SKU: {{ item.product.sku|upper }}</p>
                            </td>
                            <!-- column 3: product price -->
                            <td class="py-3">
                                <p class="my-0">£{{ item.product.price_now }}</p>
                            </td>
                            <!-- column 4: allow users ability to change item quantity from shopping bag -->
                            <td class="py-3 w-25">
                                <form class="form update-form" method="POST" action="{% url 'adjust_bag' item.item_id %}">
                                    {% csrf_token %}
                                    <div class="form-group">
                                        <!-- input group with quantity selection (by user) -->
                                        <div class="input-group">
                                            <!-- bootstrap class -->
                                            <div class="input-group-prepend">
                                                <!-- decrease quantity selector button with product.id and increment qty (needed for JS) -->
                                                <button class="decrement-qty btn btn-sm btn-black rounded-0" 
                                                    data-item_id="{{ item.item_id }}" id="decrement-qty_{{ item.item_id }}">
                                                    <span>
                                                        <!-- font awesome minus small icon -->
                                                        <i class="fas fa-minus fa-sm"></i>
                                                    </span>
                                                </button>
                                            </div>
                                            <!-- shows min and max quantities linked to product id -->
                                            <input class="form-control form-control-sm qty_input" type="number" name="quantity"
                                                value="{{ item.quantity }}" min="1" max="50"
                                                data-item_id="{{ item.item_id }}"
                                                id="id_qty_{{ item.item_id }}">
                                            <div class="input-group-append">
                                                <!-- increase quantity selector button with product.id and increment qty (needed for JS) -->
                                                <button class="increment-qty btn btn-sm btn-black rounded-0"
                                                    data-item_id="{{ item.item_id }}" id="increment-qty_{{ item.item_id }}">
                                                    <span>
                                                        <!-- font awesome plus small icon -->
                                                        <i class="fas fa-plus fa-sm"></i>
                                                    </span>
                                                </button>
                                            </div> 
                                            {% if item.product.sizes %}
                                                <!-- submit size of item user wants to update/remove in hidden input field -->
                                                <input type="hidden" name="product_size" value="{{ item.size }}">
                                            {% endif %}   
                                        </div>
                                </form>
                                <!-- anchor element: to update quantity (and submit form) -->
                                <a class="update-link text-info"><small>Update</small></a>
                                <!-- anchor element: to remove a specific item (if multiple sizes of this item in the bag) -->
                                <a class="remove-item text-danger float-right" id="remove_{{ item.item_id }}"
                                    data-product_size="{{ item.size }}"><small>Remove</small></a>
                            </td>

                            <!-- column 5: calculate bag subtotal -->
                            <td class="py-3">
                                <!-- pipe 'price_now' (1st argument) 'quantity' (2nd argument) - from bag_tools.py -->
                                <p class="my-0">£{{ item.product.price_now | calc_subtotal:item.quantity }}</p> 
                            </td>
                        </tr>
                    {% endfor %}
                    <tr>
                        <td colspan="5" class="pt-5 text-right">
                            <!-- list bag total, delivery charges and grand total -->
                            <h6><strong>Bag Total: £{{ total|floatformat:2 }}</strong></h6>
                            <h6>Delivery: £{{ delivery|floatformat:2 }}</h6>
                            <h4 class="mt-4"><strong>Grand Total: £{{ grand_total|floatformat:2 }}</strong></h4>
                            <!-- show user summary of costs -->
                            {% if free_delivery_delta > 0 %}
                                <!-- show amount needed to get free delivery -->
                                <p class="mb-1 text-danger">
                                    You could get free delivery by spending just <strong>£{{ free_delivery_delta }}</strong> more!
                                </p>
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <td colspan="5" class="text-right">
                            <!-- keep shopping button -->
                            <a href="{% url 'products' %}" class="btn keep-shopping-btn rounded-0 btn-lg">
                                <span class="icon">
                                    <!-- font awesome icon: left chevron -->
                                    <i class="fas fa-chevron-left"></i>
                                </span>
                                <span class="text-uppercase">Keep Shopping</span>
                            </a>
                            <!-- secure checkout button -->
                            <a href="" class="btn btn-black rounded-0 btn-lg">
                                <span class="text-uppercase">Secure Checkout</span>
                                <span class="icon">
                                    <!-- font awesome icon: closed lock -->
                                    <i class="fas fa-lock"></i>
                                </span>
                            </a>
                        </td>
                    </tr>
                </table>
            </div>    

            {% else %}
                <!-- if nothing in bag, show message to user -->
                <p class="lead mb-5">Your bag is empty.</p>
                <!-- button for users to return to products page -->
                <a href="{% url 'products' %}" class="btn btn-outline-black rounded-0 btn-lg">
                    <span class="icon">
                        <!-- font awesome icon: left chevron -->
                        <i class="fas fa-chevron-left"></i>
                    </span>
                    <span class="text-uppercase">Keep Shopping</span>
                </a>
            {% endif %}
        </div>
    </div>
</div>

{% endblock %}

<!-- javascript (includes) for quantity_input_script.html -->
{% block postloadjs %}
{{ block.super }}
{% include 'products/includes/quantity_input_script.html' %}

<script type="text/javascript">
    // on click event of update-link
    $('.update-link').click(function(e) {
        // use previous to find most recent update form in the DOM
        var form = $(this).prev('.update-form');
        // call form.submit method
        form.submit();
    })

    // on click event of remove-item
    $('.remove-item').click(function(e) {
        // store csrf token as a string
        var csrfToken = "{{ csrf_token }}";
        // need itemId (obtained by splitting id of update link) and size of item to be removed
        var itemId = $(this).attr('id').split('remove_')[1];
        // use data method to get size from 'size' attribute
        var size = $(this).data('product_size');
        var url = `/bag/remove/${itemId}/`;
        // 'data' is object used to send this data to the server
        var data = {'csrfmiddlewaretoken': csrfToken, 'product_size': size};
        // post data to a url
        $.post(url, data)
            // await response from server
            .done(function() {
                // reload page to reflect updated bag
                location.reload();
            });
    })
</script>

{% endblock %}