{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <!-- to push header below main nav bar and site header -->
    <div class="container header-container mr-0">
        <div class="row mr-0">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
<div class="background-home">

    <div class="container h-100 mx-0 px-0">
        <div class="row mx-0 w-100">
            <div class="col-12 sale-text overlay-home">
                <!-- summer sale section -->
                <h1 class="sale-text-1">Summer Sale now on!</h1>
            
                <!-- view our range button -->
                <div class="my-5">
                    <h4>
                        <a href="{% url 'products' %}" class="view-range-button view-range-button-m btn btn-lg rounded-0 text-uppercase">view our range</a>
                    </h4>
                </div>
                <div class="row h-100"> 
                <div class="col-12 overlay-home-1 mt-2">
                <!-- need advice section -->
                <h4 class="advice advice-m">Need Advice?</h4>
                <p class="text text-m">See our <a class="home-link" href="{% url 'what_is_a_mtb' %}">buying guides</a>
                </p>
                <p class="text">or <a class="home-link" href="{% url 'contact_us' %}">contact us</a>
                </p>
                <p class="text">to speak to one of</p>
                <p class="text">our experienced staff</p>
                </div>   
            </div>
        </div>
    </div>
</div>

{% endblock %}