{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <!-- to push header below main nav bar and site header -->
    <div class="container header-container mr-0">
        <div class="row mr-0">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
<div class="background-home">

    <div class="container">
        <div class="row">
            <div class="col-12  overlay-home">
                <!-- summer sale section -->
                <h1 class="sale-text sale-text-1">Summer Sale now on!</h1>
            
                <!-- view our range button -->
                <div class="my-5 view-range-button">
                    <h2>
                        <a href="{% url 'products' %}" class="view-range-button rounded-0 text-uppercase" aria-label="view our range">
                            <strong>view our range</strong></a>
                    </h2>
                </div>
                <div class="row h-100"> 
                    <div class="col-12 overlay-home-1">
                    <!-- need advice section -->
                        <h1 class="advice advice-m"><strong>Need Advice?</strong></h1>
                            <h1 class="text text-m"><strong>See our</strong> 
                                <a class="home-link" href="{% url 'what_is_a_mtb' %}" aria-label="buying guides">buying guides</a>
                                <strong>or </strong><a class="home-link" href="{% url 'contact_us' %}" aria-label="contact us">contact us</a>
                            </h1>
                            <h1 class="text"><strong>to speak to one of our experienced staff</strong></h1>
                    </div>   
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}