{% extends "base.html" %}
{% load static %}
{% load bag_tools %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'checkout/css/checkout.css' %}">
{% endblock %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col">
                <hr>
                <h2 class="logo mb-4">Checkout</h2>
                <hr>
            </div>
        </div>

        <div class="row">
            <div class="col-12 col-lg-6 order-lg-last mb-5">
                <!-- order summary with items and subtotal-->
                <p class="text-muted">Order Summary ({{ product_count }})</p>
                <div class="row">
                    <div class="col-7 offset-2">
                        <p class="mb-1 mt-0 small text-muted">Item</p>
                    </div>
                    <div class="col-3 text-right">
                        <p class="mb-1 mt-0 small text-muted">Subtotal</p>
                    </div>
                </div>
                <!-- bag_items (from context processor) -->
                {% for item in bag_items %}
                    <div class="row">
                        <div class="col-2 mb-1">
                            <a href="{% url 'bike_detail' item.product.id %}">
                                <!-- if product image, display -->
                                {% if item.product.image %}
                                    <img class="w-100" src="{{ item.product.image.url }}" alt="{{ product.bike_model }}">
                                {% else %}
                                    <!-- if no product image -->
                                    <img class="w-100" src="{{ MEDIA_URL }}noimage.png" alt="{{ product.bike_model}}">
                                {% endif %}
                            </a>
                        </div>
                        <div class="col-7">
                            <!-- product details (name, sizes, quantity) -->
                            <p class="my-0"><strong>{{ item.product.bike_model }}</strong></p>
                            <p class="my-0 small">Size: {% if item.product.sizes %}{{ item.size|upper }}{% else %}N/A{% endif %}</p>
                            <p class="my-0 small text-muted">Qty: {{ item.quantity }}</p>
                        </div>
                        <div class="col-3 text-right">
                            <p class="my-0 small text-muted">£{{ item.product.price | calc_subtotal:item.quantity }}</p>
                        </div>
                    </div>
                {% endfor %}
                <hr class="my-0">
                <div class="row gen-text text-right">
                    <div class="col-7 offset-2">
                        <!-- summary row containing totals and delivery cost for the order -->
                        <p class="my-0">Order Total:</p>
                        <p class="my-0">Delivery:</p>
                        <p class="my-0">Grand Total:</p>
                    </div>
                    <div class="col-3">
                        <p class="my-0">£{{ total | floatformat:2 }}</p>
                        <p class="my-0">£{{ delivery | floatformat:2 }}</p>
                        <p class="my-0"><strong>£{{ grand_total | floatformat:2 }}</strong></p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-6">
                <p class="text-muted">Please fill out the form below to complete your order</p>
                <!-- payment form -->
                <form action="{% url 'checkout' %}" method="POST" id="payment-form">
                    <!-- cross site forgery protection -->
                    {% csrf_token %}
                    <fieldset class="rounded px-3 mb-5">
                        <!-- 'details' fieldset -->
                        <legend class="fieldset-label small gen-text px-2 w-auto">Details</legend>
                        <!-- call fields from order_form and render with crispy form styling -->
                        {{ order_form.full_name | as_crispy_field }}
                        {{ order_form.email | as_crispy_field }}
                    </fieldset>
                    <fieldset class="rounded px-3 mb-5">
                        <!-- 'delivery' fieldset -->
                        <legend class="fieldset-label small gen-text px-2 w-auto">Delivery</legend>
                        <!-- call fields from order_form and render with crispy form styling -->
                        {{ order_form.phone_number | as_crispy_field }}
                        {{ order_form.street_address1 | as_crispy_field }}
                        {{ order_form.street_address2 | as_crispy_field }}
                        {{ order_form.town_or_city | as_crispy_field }}
                        {{ order_form.postcode | as_crispy_field }}
                        {{ order_form.county | as_crispy_field }}
                        {{ order_form.country | as_crispy_field }}

                        <!-- inline checkbox (if selected, will auto-fill checkout form next time user checks out)-->
                        <div class="form-check form-check-inline float-right mr-0">
                            <!-- allow authenticated users to save form info to their profile -->
							{% if user.is_authenticated %}
								<label class="form-check-label" for="id-save-info">Save this delivery information to my profile</label>
                                <input class="form-check-input ml-2 mr-0" type="checkbox" id="id-save-info" name="save-info" checked>
							{% else %}
                                <!-- if not authenticated, display links to 'signup' or 'login' -->
								<label class="form-check-label" for="id-save-info">
                                    <a class="text-info" href="{% url 'account_signup' %}">Create an account</a> or 
                                    <a class="text-info" href="{% url 'account_login' %}">login</a> to save this information
                                </label>
							{% endif %}
						</div>
                    </fieldset>
                    <fieldset class="px-3">
                        <!-- 'payment' fieldset (no fields, as will be using Stripe)-->
                        <legend class="fieldset-label small gen-text px-2 w-auto">Payment</legend>
                        <!-- stripe card element -->
                        <div class="mb-3" id="card-element"></div>
                        <!-- Used to display card errors -->
                        <div class="mb-3 text-danger" id="card-errors" role="alert"></div>
                        <!-- pass client secret to view to get the payment intent id -->
                        <input type="hidden" value="{{ client_secret }}" name="client_secret">
                    </fieldset>

                    <!-- checkout form bag link and submit button -->
                    <div class="submit-button text-right mt-5 mb-2">  
                        <!-- link back to shopping bag, in case user wants to adjust anything -->                  
						<a href="{% url 'view_bag' %}" class="btn btn-outline-black rounded-0">
							<span class="icon">
								<i class="fas fa-chevron-left"></i>
							</span>
							<span class="font-weight-bold">Adjust Bag</span>
						</a>
                        <!-- submit button -->
						<button id="submit-button" class="btn btn-black rounded-0">
							<span class="font-weight-bold">Complete Order</span>
							<span class="icon">
								<i class="fas fa-lock"></i>
							</span>
						</button>
                        <!-- notification to user that their card is about to be charged -->
						<p class="small text-danger my-0">
							<span class="icon">
								<i class="fas fa-exclamation-circle"></i>
							</span>
							<span>Your card will be charged <strong>£{{ grand_total|floatformat:2 }}</strong></span>
						</p>
					</div>
                </form>
            </div>
        </div>
    </div>
    <!-- loading spinner icon to indicate payment is being processed -->
    <div id="loading-overlay">
        <h1 class="text-light logo-font loading-spinner">
            <span class="icon">
                <!-- font awesome spin icon -->
                <i class="fas fa-3x fa-sync-alt fa-spin"></i>
            </span>
        </h1>
    </div>
{% endblock %}

{% block postloadjs %}
    <!-- block.super to ensure this code is appended to anything else 
        already in the block (i.e. base.html), rather than replacing it -->
    {{ block.super }}
    <!-- json_script needed to render django template variables 
        (accessed from external js file) -->
    {{ stripe_public_key|json_script:"id_stripe_public_key" }}
    {{ client_secret|json_script:"id_client_secret" }}
    <!-- link to stripe_elements.js file -->
    <script src="{% static 'checkout/js/stripe_elements.js' %}"></script>
{% endblock %}
