{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <!-- to push header below main nav bar and site header -->
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
<div class="">
    <div class="container h-100">
        <div class="row h-100">
            <!-- buying guide -->
            <div class="col mt-5">
                
                <h2 class="logo heading">What is a Mountain Bike?</h2>
                    <p class="gen-text bg-text">
                        A mountain bike refers to any bike that is designed to be ridden off-road.
                        Here at Summit Bike Co we sell two kinds of mountain bikes:
                        Hardtail mountain bikes are called hardtail because they have a suspension
                        fork at the front and Full Suspension mountain bikes which have a front
                        suspension fork and a rear shock absorber, and are the most accomplished
                        across rough terrain. The mountain bike best suited to you depends on the
                        kind of riding you want to do and, of course, fits into your budget.
                        You can get expert advice on these at any of our Summit Bike Co stores.
                    </p>

                <h4>What are mountain bike frames made from?</h4>
                    <p class="gen-text bg-text">
                        Mountain bike frames are usually made from steel, aluminium or carbon fibre.
                        Wheels are strong with thick tyres and deep treads. The best mountain bike
                        will be one that suits the kind of riding you want to do, at the right price. 
                    </p>

                <h4>What does the 'amount of suspension travel' mean in mountain biking?</h4>
                    <p class="gen-text bg-text">
                        Fortunately, bike manufacturers categorise bikes according to what terrain
                        they think is most suitable for the bike they've designed. This roughly equates
                        to the amount of suspension travel the bike has. Less travel means that the bike's
                        weight is reduced — shorter travel shocks with lighter chassis all keep the weight
                        down. More travel means the overall weight of the bike increases, but the 
                        suspension's design ensures the effort you put through your pedals still gets
                        efficiently transferred to the rear wheel. 
                    </p>

                <h4>What is a Rear Derailleur?</h4>
                    <p class="gen-text bg-text">
                        A rear derailleur (also known as a 'rear mech') is the mechanism that moves
                        the bike chain from cog-to-cog on the cassette (a cluster of sprockets that are a part of
                        the drivetrain for the bike chain) at the rear wheel of the bike. The right-hand gear
                        shifter on the handlebars pulls a cable (or uses electronic signals) to move the
                        derailleur, which in-turn moves the chain onto the appropriate cog on the cassette.  The
                        rear derailleur and the cassette work together to ensure a smooth shifting between gears.
                        There are many different models but they all share the same basic design and functionality.
                    </p>

                <h2>What are Hardtail Mountain Bikes?</h2>
                    <p class="gen-text bg-text">
                        A hardtail mountain bike uses a suspension fork at the front of the bike that gives
                        cushioning against uneven terrain, along with improved grip and handling. As hardtails
                        don't possess rear suspension, this makes them more cost effective, easier to maintain
                        and lighter in wieght than the more complicated full suspension bikes - making them a
                        good choice for beginners.
                    </p>

                <h4>Hardtail Mountain Bike Wheel Sizes</h4>
                    <p class="gen-text bg-text">
                        Most brands use either 27.5” (also known as 650b) or 29” wheels. 29” mountain bike wheels
                        roll faster and so have a speed advantage, but on very tight, technical terrain they do not
                        handle as well as the 27.5” wheels.  Which is best hardtail mountain bike for you? This guide
                        will help you pick the best style of hardtail for your requirements.
                    </p>

                <h3>Cross Country Hardtails</h3>
                    <p class="gen-text bg-text">
                        Cross-country hardtails are designed for riding over large distances, whether in a race or
                        riding with your friends, and are sometimes equipped with a fork lockout to make them even
                        more effective on smooth ground.  Most cross-country hardtails have light aluminium frames,
                        making them more affordable. The more expensive models comprise carbon fibre or steel to
                        further reduce weight. </p>                    

                <h3>Trail Hardtails</h3>
                    <p class="gen-text bg-text">
                        Trail hardtail mountain bikes (otherwise known as 'hardcore' MTBs) are still capable of
                        covering big distances but are great when the trail starts to point downhill. This makes them
                        a popular choice for new riders. Trail hardtails use suspension forks which have longer and more control over uneven terrain.
                        Compared to cross-country hard tails, they also have slightly heavier but tougher frames and
                        equipment, which makes them capable on demanding, rocky trails. These bikes are also available
                        in 27.5” (650b) and 29”.
                    </p>

                    <h2>Full Suspension Mountain Bikes vs Hardtail Bikes</h2>
                        <p class="gen-text bg-text">
                            A full suspension mountain bike allows for a more comfortable and controlled ride on
                            off-road trails than you'd get from a hardtail mountain bike. Full Suspension bikes
                            have a suspension fork at the front of the bike and a shock absorber at the rear,
                            giving a smoother ride as the wheels can move up and over bumps, lumps, roots and rocks
                            opening up the opportunity to explore the more challenging terrains and obstacles.
                            What's the best full suspension mountain bike for you? To work that out, decide what
                            type of terrain you want to tackle and the amount of travel they have on offer.
                        </p>

                    <h3>Trail Full Suspension</h3>
                        <p class="gen-text bg-text">
                            Trail bikes will let you tackle rougher terrain with greater control and stability,
                            and at higher speeds.
                        </p>
                    
                    <h3>Enduro Full Suspension</h3>
                        <p class="gen-text bg-text">
                            Part of the Trail bike family, if you're looking to take on particularly challenging
                            terrain once in a while, Enduro bikes (also known as All Mountain bikes) are the best
                            full suspension mountain bikes for you.  To help increase stability, they are slightly
                            longer than trail and cross-country bikes, and will use wider bars and shorter stems
                            for more reactive steering. Enduro bikes are designed to tackle the toughest tracks
                            and bike park laps while still being light enough to pedal to the top of the hills,
                            so combining light weight with good travel capability.
                        </p>
                    
                    <h3>Cross Country Full Suspension</h3>
                        <p class="gen-text bg-text">
                            Lightweight, Cross Country full suspension mountain bikes will normally boast around
                            100mm (3.9in) of suspension travel and the lightest use carbon fibre frames. The
                            intention is to add some comfort and increase traction at the rear wheel, all without
                            hampering pedalling efficiency and keeping a low weight. Cross-country mountain bikes
                            are designed to be ridden uphill just as fast as they are downhill.
                        </p>
            </div>
        </div>
        
    </div>
</div>


{% endblock %}