{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <!-- to push header below main nav bar and site header -->
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
<div class="">
    <div class="container h-100">
        <div class="row h-100">
            <!-- use 12 columns on medium, larger screens -->
            <div class="col-7 col-md-12 gen-text">
                
                <h1>
                    What is a Mountain Bike?
                </h1>
                <p>
                    A mountain bike refers to any bike that is designed to be ridden off-road. 
                    Here at Summit Bike Co we sell two kinds of mountain bikes:  
                    Hardtail mountain bikes are called hardtail because they have a suspension 
                    fork at the front and Full Suspension mountain bikes which have a front 
                    suspension fork and a rear shock absorber, and are the most accomplished
                    across rough terrain.  The mountain bike best suited to you depends on the
                    kind of riding you want to do and, of course, fits into your budget.
                    You can get expert advice on these at any of our Summit Bike Co stores.

                <h3>
                    What are mountain bike frames made from?
                </h3>
                <p>
                    Mountain bike frames are usually made from steel, aluminium or carbon fibre.
                    Wheels are strong with thick tyres and deep treads. The best mountain bike
                    will be one that suits the kind of riding you want to do, at the right price. 

                <h3>What does the 'amount of suspension travel' mean in mountain biking?</h3>
                <p>
                    Fortunately, bike manufacturers categorise bikes according to what terrain
                    they think is most suitable for the bike they've designed. This roughly equates
                    to the amount of suspension travel the bike has. Less travel means that the bike's
                    weight is reduced — shorter travel shocks with lighter chassis all keep the weight
                    down. More travel means the overall weight of the bike increases, but the 
                    suspension's design ensures the effort you put through your pedals still gets
                    efficiently transferred to the rear wheel. 

                </p>
            </div>
        </div>
        
    </div>
</div>


{% endblock %}