html {
    /* allows h100 classes in vertical centering to work */
    height: 100%;
}

.body {
    /* color: rgb(66, 66, 66); */
    color: black;
    font-family: 'Roboto', sans-serif;
}
    /* .background-home {
        background: url('/media/home_1024by683_comp.jpg') no-repeat center center fixed;
        background-size: cover;
        /* view height - top header - footer 
        height: calc(100vh - 164px - 56px);
        color: rgb(66, 66, 66);
        font-family: 'Roboto', sans-serif;
    } */

/* from Bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

.logo {
    font-family: 'Yatra One', cursive;
}

.link-logo {
    width: fit-content;
}

/* buttons */
.view-range-button {
    background: black;
    color: white;
    min-width: 260px;
    
}

.btn-black {
    background: black;
    color: white;
}

.view-range-button:hover,
.view-range-button:active,
.view-range-button:focus,
.btn-black:hover,
.btn-black:active,
.btn-black:focus {
    background: #222;
    color: white;
}

/*  button text */
.gen-text {
    /*color: #000 !important;*/
    color: rgb(66, 66, 66);
}

.border-black {
    border: 1px solid black !important;
    
}

/* -------------------------------------------- Home Page */

/* image background */
.background-home {
    background: url('/media/home_1024by683_comp.jpg') no-repeat center center fixed;
    background-size: cover;
    /* view height - top header - footer */
    height: calc(100vh - 164px);
    padding: 0;
    margin: 0;
}

.sale-text {
    color: white;
    text-align: right;
    margin-top: 90px;
}

.align-text {
    float: right;
}

/*  delivery banner */
.banner {
    background: black;
    border-color: black;
}

.banner > h4 {
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    color: rgb(36, 243, 36);
}

/* -------------------------------- Backgrounds */

.background-other {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    background: white;
    z-index: -1;
}

/* -------------------------------- Products app */

.prod-container-margin {
    margin-left: 10px;
}

a.classification-badge > span.badge:hover {
    /* same colour as bootstrap dark class */
    background: #212529 !important;
    color: #fff !important;
}

/* -------------------------------- Media Queries */

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
  .container {
    max-width: 80%;
  }
}

/* fixed top navbar only on medium and larger screens */
@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .header-container {
        padding-top: 108px;
    }
}

/* top padding when navbar is collapsed on mobile */
@media (max-width: 991px) {
    .header-container {
        padding-top: 116px;
    }

    body {
        height: calc(100vh - 116px);
    }
    
}
