/* heading and body fonts */
html {
    /* allows h100 classes in vertical centering to work */
    height: 100%;
}

h4 {
    font-size: 22px;
    color: rgb(40, 40, 232);
    font-weight: 600;
}

.body {
    /* color: rgb(66, 66, 66); */
    color: black;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
}

/* from Bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}
/* logo */
.logo {
    font-family: 'Montserrat', sans-serif;
    color: rgb(40, 40, 232);
    font-weight: 900;
}
/* link to home page */
.link-logo {
    width: fit-content;
    text-decoration: none;
}

.link-logo:hover,
.link-logo:active,
.link-logo:focus {
    text-decoration: none;
    color: black;
}

/*  body text and buttons */
.gen-text {
    color: black;
}

.border-black {
    border: 1px solid black !important;
}

/* -------------------------------------------- USER MESSAGES (bootstrap toasts) */
.message-container {
    position: fixed;
    top: 72px;
    right: 15px;
    z-index: 99999999999;
}

.custom-toast {
    overflow: visible;
}

.toast-capper {
    height: 2px;
}

/* from CSS-tricks.com: https://css-tricks.com/snippets/css/css-triangle/ */
.arrow-up {
    width: 0; 
    height: 0; 
    border-left: 4px solid transparent;
    border-right: 4px solid transparent; 
    border-bottom: 10px solid black;
    position: absolute;
    top: -10px;
    right: 36px;
}

/* convenience classes - colours copied from Bootstrap */
.arrow-primary {
    border-bottom-color: #007bff !important;
}

.arrow-secondary {
    border-bottom-color: #6c757d !important;
}

.arrow-success {
    border-bottom-color: #28a745 !important;
}

.arrow-danger {
    border-bottom-color: #dc3545 !important;
}

.arrow-warning {
    border-bottom-color: #ffc107 !important;
}

.arrow-info {
    border-bottom-color: #17a2b8 !important;
}

.arrow-light {
    border-bottom-color: #f8f9fa !important;
}

.arrow-dark {
    border-bottom-color: #343a40 !important;
}

/* --------------------------------------------- H E A D E R */
.header-text {
    color: black;
}

.bag-colour {
    color: rgb(40, 40, 232);
}

/* --------------------------------------------- F O O T E R */
.footer {
    clear: both;
    height: 278px;
    margin-bottom: 0;
}

/* footer divider */
.division {
    background: black;
    border-color: black;
    padding-top: 2px;
    padding-bottom: 2px;
    margin: 0;
    width: 100% !important;
}

/* header and footer background */
.head-foot-background {
    background-color: rgb(219, 214, 214);
}

.background {
    margin: 0;
}

/* footer text */
.footer-text {
    color: black;
    margin-left: 20px;
}

.subscribe {
    color: black;
}

/* social media links */
.social-media {
    margin-left: 20px;
    padding-right: 20px;
}

.sm-size {
    font-size: 18px;
    margin-bottom: 5px;
}

/* privacy policy */
.priv-pol {
    margin-top: 25px;
}

/* ------------------- mailchimp (newsletter subscription)*/
/* spacing */
.paragraph {
    margin-bottom: 0;
    color: black;
}

.spacing {
    margin-left: 9px;
    margin-top: 0;
    padding-top: 0;
    color: black;
}

.email {
    margin-left: 10px;
}

.footer-heading {
    font-size: 25px;
    margin-left: 20px;
    padding-top: 20px;
}

#mc_embed_signup {
    padding: 0;
    color: black;
}

.mchimp-logo{
    background: rgb(226, 224, 224);
}

.mce-responses {
    color: black;
}

/* -------------------------------------------- H O M E  app */

/* ----------------------- index.html */
/* image background */
.background-home {
    background: url('https://res.cloudinary.com/drxo58fsj/image/upload/v1650545908/summit-bike-co/home_1024by683_comp_bbuobf.jpg') no-repeat;
    background-size: cover;
    /* to push image down the page */
    background-position-y: 70px;
    height: 70vh;
    padding: 0;
    margin-top: 3px;
}

/* byline */
.byline {
    text-align: left;
    font-family: 'Lato', sans-serif;
    font-weight: 900; 
    font-size: 18px;
    color: black; 
}

/* summer sale text */
.sale-text {
    font-size: 26px;
    color: yellow;
    text-align: right;
    margin-top: 210px;
}

.align-text {
    float: right;
}

/*  contact us banner */
.banner {
    background: black;
    border-color: black;
    padding-top: 2px;
    padding-bottom: 2px;
    margin: 0;
    width: 100%;
}

.banner > h4 {
    font-size: 18px;
    text-align: center;
    font-family: 'Lato', sans-serif;
    font-weight: 600;
    letter-spacing: 1.2px;
    color: white;
}

/* 'view our range' button */
.view-range-button {
    background: white;
    color: black;
    width: 260px;
    font-size: 24px;
    font-weight: 600;
}

.view-range-button:hover,
.view-range-button:active,
.view-range-button:focus {
    background: black;
    color: white;
}

/* 'need advice' section */
.advice {
    color: yellow;
    font-size: 26px;
    font-weight: 700;
    padding-bottom: 8px;
    letter-spacing: 1.8px;
}

.text {
    font-size: 24px;
    color: yellow;
    font-weight: 700;
    line-height: 15px;
    letter-spacing: 1.8px;
}

/* 'need advice' links */
.home-link {
    color: white;
    text-decoration: none;
}

.home-link:hover,
.home-link:active,
.home-link:focus {
    color: yellow;
    text-decoration: none;
}

.btn-black {
    background: black;
    color: yellow;
}

.btn-black:hover {
    background: yellow;
    color: black;
}

.btn-qty {
    background: black;
    color: white;
}

.btn-qty:hover,
.btn-qty:active,
.btn-qty:focus,
.btn-black:active,
.btn-black:focus {
    background: #222;
    color: white;
}

/* ----------------------------------------- P R O D U C T S  app */

/* ----------------------- products (all bikes) page */

/* main heading */
.prod-heading {
    margin-top: 160px;
}

/* bike classification (type) */
a.classification-badge > span.badge:hover {
    /* same colour as bootstrap dark class */
    background: #212529 !important;
    color: #fff !important;
}

/* arrow button to navigate to top of page */
.btt-button {
    height: 35px;
    width: 45px;
    position: fixed;
    bottom: 10px;
    right: 25px;
}

/* search boxes placeholder */
input[name='q']::placeholder {
    color: #aab7c4;
}

/* to render on large screens */
.product {
    margin-left: 10px;
    margin-right: 10px;
}

/* ------------------------------- bike_detail page */

/* heading */
.bike-heading {
    margin-top: 170px;
    margin-left: 24px;
    color: rgb(40, 40, 232);
}

/* type of mountain bike heading */
.type {
    margin-left: 38px;
}

/*  position of individual bike container */
.product-position {
    margin-left: 10px;
    margin-right: 30px;
}

.classif-position {
    margin-top: 20px;
}

/* noimage.png positioning */
.noimage {
    width: 450px;
    height: auto;
    margin-bottom: 0;
}

/* bike model */
.model-font {
    color: rgb(40, 40, 232);
    font-size: 20px;
    font-weight: 700;
}

/* 'classification' and 'rating' text */
.sort-text {
    color: #3a3a3a;
}

/* product price fields */
.label-position {
    min-width: 100px;
    line-height: 30px;
    color: black;
}

.price-font {
    font-weight: 700;
    font-size: 25px;
    color: black;
}

/* description block */
.description {
    margin-left: 40px;
    margin-right: 40px;
}

.sub-heading {
    font-size: 22px;
    margin-left: 40px;
    color: rgb(40, 40, 232);
    font-weight: 600;
    
}

.sub-heading-1 {
    color: rgb(40, 40, 232);
    font-weight: 600;
}

/* quantity and sizing blocks */
.qty {
    color: rgb(40, 40, 232);
    font-weight: 600;
}

.qty-size {
    margin-left: 40px;
    margin-right: 0;
}

/* shopping bag button */
.shop-bag-btn {
    margin-left: 26px;
    margin-right: 0;
}

/* product form: image span 'button' */
.btn-file {
    position: relative;
    overflow: hidden;
}

/* product form: input (for image field) */
.btn-file input[type="file"] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    opacity: 0;
    cursor: pointer;
}

/* product form: image checkbox 
.custom-checkbox .custom-control-label::before {
    border-radius: 0;
    border-color: #dc3545;
}

.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
    background-color: #dc3545;
    border-color: #dc3545;
    border-radius: 0;
} */

/*  keep shopping button */
.keep-shopping-btn {
    background: yellow;
    color: black !important; /* use important to override link colors for <a> elements */
    border: 1px solid black;
}

/* ----------------------------------------- B A G  app */

/* ------------------------------- bag pages */
/* heading */
.bag-heading {
    margin-top: 170px;
    font-family: 'Montserrat', sans-serif;
    color: rgb(40, 40, 232);
    font-size: 28px;
}

/* heading margin */
.bag-spacing {
    margin-left: 15px;
}

/* bike model name */
.bag-model{
    color: rgb(40, 40, 232);
    font-size: 18px;
}

/* message for shopping bag summary */
.bag-notification-wrapper {
    height: 100px;
    overflow-x: hidden;
    /* vertical overflow to become scrollbar when height is greater than 100px */
    overflow-y: auto;
}

/* shopping bag width */
.bag-width {
    width: 100%;
}

/* shopping bag page update and remove links */
.btt-link,
.update-link,
.remove-item {
    cursor: pointer;
}

/* total and delivery amounts */
.total {
    font-size: 20px;
}

/* grand total on 'bag-total' */
.g-total {
    font-size: 22px;
    color: black;
}

/* ----------------------------------------- C H E C K O U T  app */

/* ------------------------------- 'checkout' pages */
/* heading */
.checkout-heading {
    margin-top: 160px;
    font-family: 'Montserrat', sans-serif;
    color: rgb(40, 40, 232);
    font-size: 28px;
}

/* 'country' field on checkout form */
#id_country {
    padding-top: 6px;
}

.colour {
    color: rgb(40, 40, 232);
}

.spinner {
    font-size: small;
}
/* ----------------------------------------- B U Y I N G _ G U I D E S  app */

/* ----------------------- what_is_a_mtb page */
/* top spacing */
.bg-spacing {
    margin-top: 170px;
}

/* headings for 'what_is_a_mtb' and 'mtb_sizing' pages 
   and for 'who_we_are'; 'terms_conditions'; 'cycle_to_work' and 'contact_us' pages*/
.bg-heading {
    font-family: 'Montserrat', sans-serif;
    color: rgb(40, 40, 232);
    font-size: 28px;
}

.bg-subheading {
    color: rgb(40, 40, 232);
    font-size: 24px;
}

.bg-text {
    padding-top: 10px;
    margin-left: 0px;
    margin-right: 10px;
}

/* ----------------------- mtb_sizing page */
/* top spacing */
.bg-spacing-1 {
    margin-top: 20px;
}

/* sizing table heading */
.table-heading {
    padding-right: 30px;
}

/* ----------------------------------------- I N F O  app */
/* ----------------------- 'who_we_are page'; 'terms_conditions'; 'cycle_to_work' and 'contact_us' pages */
/* top spacing*/
.info-spacing {
    margin-top: 170px;
}

/* ----------------------- 'terms_conditions' page */
.ol-text {
    margin-left: -25px;
}

/* ----------------------- 'contact_us' page */
/* company address */
.address {
    line-height: 14px;
}

/* font awesome icons */
.icons i {
    font-size: 300%;
    padding-left: 20px;
    padding-top: 20px;
    padding-right: 50px;
    color: black;
}
  
.center {
    margin: auto;
}

/* used on 'contact_us' page, bag templates, checkout templates, stock mgt templates */
.green {
    color: #28a745;
    font-size: 24px;
}


/* ---------------------- allauth form formatting */
.allauth-form-inner-content p {
    margin-top: 1.5rem; /* mt-4 */
    color: #6c757d; /* text-secondary */
}

.allauth-form-inner-content input {
    border-color: #000;
    border-radius: 0;
}

.allauth-form-inner-content label:not([for='id_remember']) {
    display: none;
}

.allauth-form-inner-content input::placeholder {
    color: #aab7c4;
}

.allauth-form-inner-content button,
.allauth-form-inner-content input[type='submit'] {
	/* button (adapted from bootstrap) */
	display: inline-block;
    font-weight: 400;
    color: #fff;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #000;
    border: 1px solid #000;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0;

    /* standard bootstrap btn transitions */
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

/* button hover */
.allauth-form-inner-content button:hover,
.allauth-form-inner-content input[type='submit']:hover {	
	color: #fff;
    background-color: #222;
    border-color: #222;
}

.allauth-form-inner-content a {
	color: rgb(40, 40, 232); /* text-info */
}


/* --------------------------------------- mtb_sizing page */
/* top spacing */
.bg-spacing-1 {
    margin-top: 160px;
}

/* ---------------------------------------- ACCOUNT TEMPLATES */
/* headings for: account templates; profile templates; stock mgt templates */
.acc-heading {
    margin-top: 160px;
    font-family: 'Montserrat', sans-serif;
    color: rgb(40, 40, 232);
    font-size: 28px;
}

/* --------------------------------------------- B I K E T A L K  app */
/* --------------------- article_list page */
/* card positioning for each chat post */
.col-position {
    margin: 0;
}

.card {
    border: none;
    background-color: transparent;
}

.biketalk-subheading {
    color: black;
    font-size: 24px;
}

/*  title of article post */
.title {
    font-size: 22px;
    color: rgb(40, 40, 232);
}

/* excerpt */
.card-text {
    color: rgb(40, 40, 232);
}

/*  excerpt for article post */
.article-post-link {
    text-decoration: none;
    color: #3a3a3a;
    font-size: 16px;
}

/* positioning of article list */
.chat-list-size {
    width: 40%;
} 

/* pagination */
.article-post-link:hover,
.article-post-link:active,
.article-post-link:focus,
.page-link {
    text-decoration: none;
    color: #3a3a3a;
}

.page-link-size {
    color: rgb(40, 40, 232);
    font-size: small;
    margin-bottom: 10px;
    padding: 3px 4px 3px 4px;
}

/* chat post date and like (heart) */
.chat-like {
    color: rgb(40, 40, 232);
}

/* author of article post */
.author {
    color: #3a3a3a;
}

/* ----------------------- article_content page */

/* heading block at top of page */
.masthead {
    margin-top: 170px;
    overflow: hidden;
    position: relative;
    display: inline-block;
    height: 25vh;
    width: 100%;
}

/* heading block background*/
.masthead-background {
    background-color: white;
    position: relative;
}

/* heading block image */
.masthead-image {
    position: relative;
    overflow: hidden;
}

/* heading block main title */
.post-title {
    margin-top: 7%;
    margin-left: 5%;
    position: relative;
    color: rgb(40, 40, 232);
    font-size: 35px;
    z-index: 3;
}

/* heading block sub title */
.post-subtitle {
    margin-left: 5%;
    color: #3a3a3a;
    position: relative;
    z-index: 3;
}

.card-format {
    font-family: Arial, sans-serif;
    color: #3a3a3a;
    font-size: 14px;
}

/* comments block */
.heading-ideas {
    font-size: 20px;
    padding-left: 10px;
}

.heading-ideas1 {
    font-size: 18px;
    padding-left: 0;
}

.commenter {
    color: rgb(40, 40, 232);
}

.card-position {
    padding-left: 0;
}

.card-position1 {
    padding-left: 6px;
    padding-top: 0;
}

.card-font {
    font-size: 14px;
}

.posting-as {
    color: rgb(40, 40, 232);
}

/* hearts (Font Awesome) and number of likes, comments */
.btn-like {
    color: rgb(40, 40, 232);
    border: none;
    background: transparent;
}

.btn-like:hover,
.btn-like:active {
    color: #3a3a3a;
    background: transparent;
    border: none;
}

.total-comments {
    min-width: 80px;
}

/* background for biketalk*/
.background-general{
    background: white;
    margin-top: -17px;
    margin-bottom: -16px;
}

/* buttons: submit */
.button {
    margin:0 auto;
    display:block;
    color: white;
    background-color:#3a3a3a;
    padding: 4px 5px 4px 5px;
    font-size: 16px;
}


/* ------------------------------------------------------------------------- M E D I A   Q U E R I E S */

/* -------------------------------------------- X - L A R G E */
/* slightly larger container on xl screens */
@media (min-width: 1200px) {
    .container {
      max-width: 80%;
    }

    /* -------------------------------------------- H O M E  app */

    /* image background */
    .background-home {
        background: url('https://res.cloudinary.com/drxo58fsj/image/upload/v1652194984/summit-bike-co/home_1200by800_comp_ssdw3w.jpg') no-repeat;
        background-size: cover;
        background-position-y: 100px;
        height: 120vh;
        padding: 0;
        margin-top: 0.25rem;
    }

    /* -------------------------------------------- B I K E T A L K  app */

    /* -------------------------- article_content page */
    /*  title of article post */
    /* heading block at top of page */
    .masthead {
        margin-top: 170px;
        height: 25vh;
    }

}

/* ------------------------------------------- L A P T O P S */

@media (max-width: 991px) {
    /* top padding when navbar is collapsed on mobile */
    .header-container {
        padding-top: 7.25rem;
        margin-left: 0;
        margin-right: 0;
    }

    body {
        height: calc(100vh - 116px);
    }

    .link-nav {
        padding: 0.15rem;
        text-decoration: none;
    }

    .link-nav i.fa-lg {
        font-size: 1rem;
        text-decoration: none;
    }

    /* ----------------------------- bike_detail page */
    /* keep shopping button */
    .btn.keep-shopping-btn.rounded-0,
    .btn.btn-black.rounded-0 {
        padding: .375rem .375rem;
    }

    .btn.keep-shopping-btn.rounded-0.btn-lg,
    .btn.btn-black.rounded-0.btn-lg {
        padding: .375rem .375rem;
        font-size: .75rem;
    }

    /* quantity buttons */
    .increment-qty, .decrement-qty {
        padding: .25rem .5rem !important;
    }
}

/* ----------------------------------------------- T A B L E T S */

@media screen and (max-width: 769px) {

    /* --------------------------------------------- H E A D E R */
        
    .navbar {
        padding-right: 0;
    }

    .header-container {
        padding-top: 6.75rem;
        padding-right: 0;
        margin-right: 0;
    }

    /* logo (home link) on mobiles and tablets */
    .mobile-logo {
        font-family: 'Montserrat', sans-serif;
        font-size: 24px;
        margin-right: 0.625rem;
    }

    .link-mobile {
        color: rgb(40, 40, 232);
        text-decoration: none;
    }

    /* -------------------------------------------- H O M E  app */

    /* ------------------------- index.html */
    /* image background */
    .background-home {
        background: url('https://res.cloudinary.com/drxo58fsj/image/upload/v1652196263/summit-bike-co/home_769by513_comp_uhtcdh.jpg') no-repeat;
        background-size: cover;
        background-position-y: 0px;
        height: 80vh;
        padding: 0;
        margin-top: 0.313rem;
    }
    
    /* byline */
    .byline {
        font-size: 14px;
        margin-right: 4.063rem;
        margin-left: 0;
    }

    /* summer sale text */
    .sale-text {
        margin-top: 2.5rem;
        font-size: 18px;
    }

    .sale-text-1 {
        margin-top: 1.25rem;
        font-size: 30px;
    }

    /* 'view our range' button */
    .view-range-button {
        width: 210px;
        font-size: 20px;
        padding-top: 2px;
        padding-bottom: 2px;
    }

    /* need advice section */
    .advice {
        font-size: 22px;
    }

    .text {
        font-size: 20px;
        line-height: 12px;
        letter-spacing: normal;
    }

    /* ----------------------------------------- P R O D U C T S  app */

    /* ----------------------- products (all bikes) page */
    /* main heading for tablet screen only */
    .heading {
        margin-top: -40px;
    }

    .prod-heading {
        margin-top: 1.25rem;
    }

    /* ------------------------------- bike_detail page */
    /* heading */
    .bike-heading {
        margin-top: 1.25rem;
        font-size: 25px;
    }

    /* type of mountain bike heading */
    .type {
        margin-left: 2.375rem;
    }

    /* ----------------------------------------- B A G  app */

    /* ------------------------------- bag page */
    /* heading */
    .bag-heading {
        margin-top: 1.875rem;
        font-size: 26px;
    }

    /* bike model name */
    .bag-model{
        font-size: 16px;
    }

    /* total and delivery amounts */
    .total {
        font-size: 18px;
    }

    /* grand total on 'bag-total' */
    .g-total {
        font-size: 20px;
        color: black;
    }

    /* ----------------------------------------- C H E C K O U T  app */

    /* ------------------------------- 'checkout' pages */
    /* heading */
    .checkout-heading {
        margin-top: 1.25rem;
        font-size: 26px;
    }

    /* ----------------------------------------- B U Y I N G _ G U I D E S  app */

    /* ----------------------- what_is_a_mtb page */
    /* top spacing */
    .bg-spacing {
        margin-top: 1.25rem;
    }

    /* headings for 'what_is_a_mtb' and 'mtb_sizing' pages */
    .bg-heading {
        font-size: 22px;
    }

    .bg-subheading {
        font-size: 20px;
    }

    /* ----------------------- mtb_sizing page */
    /* top spacing */
    .bg-spacing-1 {
        margin-top: 1.25rem;
    }

    /* ----------------------------------------- I N F O  app */

    /* ----------------------- 'who_we_are' page */
    /* top spacing */
    .info-spacing {
        margin-top: 1.25rem;
    }

    /* ----------------------- 'contact_us' page */
    .green {
        font-size: 22px;
    }

    /* ---------------------------------------- ACCOUNT TEMPLATES */
    .acc-heading {
        margin-top: 1.25rem;
        font-size: 26px;
    }

    /* -------------------------------------------- B I K E T A L K  app */

    /* -------------------------- article_list page */
    /*  title of article post */
    .title {
        font-size: 18px;
    }
    
    /*  excerpt for article post*/
    .article-post-link {
        font-size: 14px;
        text-decoration: none;
    }

    .biketalk-subheading {
        font-size: 20px;
    }

    .created-on {
        font-size: 14px;
    }

    /* ------------------------- article_content page */
    /* heading block at top of page */
    .masthead {
        margin-top: 0px;
        height: 25vh;
        width: 100%;
    }

    /* heading block main title */
    .post-title {
        margin-top: 10%;
        margin-left: 20px;
        font-size: 28px;
    }

    /* heading block sub title */   
    .post-subtitle {
        font-size: 16px;
        margin-left: 22px;
        margin-bottom: 10px;
    }

}

/* ----------------------------------------------- M O B I L E S */

@media screen and (max-width: 426px) {
    /* --------------------------------- H E A D E R */

    /* logo (home link) on mobiles */
    .mobile-logo {
        font-family: 'Montserrat', sans-serif;
        font-size: 16px;
        margin-right: 0;
        text-decoration: none;
    }

    /* navigation menu on all mobile pages */
    .menu {
        margin: auto;
        
    }

    /*  contact us banner */
    .banner > h4 {
        font-size: 16px;
        margin: 0;
        padding-left: 0;
        padding-right: 0;
    }

    /* ----------------------------------- F O O T E R */

    /* footer divider */
    .footer {
        clear: both;
        position: relative;
        
        margin-top: -200px;
    }

    .division {
        background: black;
        border-color: black;
        padding-top: 0.125rem;
        padding-bottom: 0.125rem;
        margin: 0;
        width: 100% !important;
        z-index: 10;
    }

    /* footer background */
    .footer-background {
        background-color: rgb(238, 236, 236);
    }

    /* privacy policy */
    .priv-pol {
        margin-bottom: 0;
    }

    /*  newsletter subscription (mailchimp) */
    .mob-subscribe {
        margin-left: 0.5rem;
    }
    
    /* -------------------------------------------- H O M E  app */    

    /* ----------------------------- index.html */
    /* image background */
    .background-home {
        background: url('https://res.cloudinary.com/drxo58fsj/image/upload/v1652349272/summit-bike-co/home_425by513_comp_vi9utr.jpg') no-repeat;
        background-size: cover;
        background-position-y: 10px;
        height: 73vh;
        padding: 0;
        margin-top: 0.188rem;
    }

    /* byline */
    .byline {
        font-size: 12px;
        margin-right: 0.625rem;
        margin-left: 0;
    }

    /* summer sale section */
    .sale-text-1 {
        margin-top: 3.125rem;
        font-size: 24px;
        text-align: center;
        background-color: rgba(0, 0, 0, 0.368);
        padding-top: 0.188rem;
        padding-bottom: 0.313rem;
    }
    
    /* overlay for 'summer sale' text (mobile only) */
    .overlay-home {
        /*background-color: rgba(139, 69, 19, 0.521);*/
        background-color: rgba(0, 0, 0, 0.368);
        max-height: 20px;
        max-width: 280px;
        margin: auto;
        padding-left: 0;
        padding-right: 0;
    }

    /* 'view our range' button */
    .view-range-button {
        padding: 0;
        font-size: 20px;
        width: 190px;
        margin-right: 2.938rem;
        text-align: center;
    }

    /* 'need advice' section */
    .advice-m {
        text-align: center;
        margin-bottom: 0.313rem;
        font-size: 20px;
    }

    .text-m {
        text-align: center;
        padding-top: 0.625rem;
        font-size: 18px;
        color: yellow;
        line-height: 14px;
    }

    .text {
        text-align: center;
        line-height: 10px;
        font-size: 18px;
        letter-spacing: normal;
    }

    /* overlay for 'need advice' section (mobile only) */
    .overlay-home-1 {
        background-color: rgba(0, 0, 0, 0.368);
        max-height: 200px;
        max-width: 220px;
        margin: auto;
    } 

    /* ----------------------------------------- P R O D U C T S  app */

    /* ----------------------- products (all bikes) page */
    /* main heading for mobile screen only */
    .prod-heading {
        margin-top: 2.5rem;
        font-size: 28px;
    }

    /* positioning for 'model' and 'type' */
    .prod-mobile {
        margin-left: 1.25rem;
        margin-right: 0;
    }

    /* positioning for image */
    .mobile-img {
        /*margin-top: 10px; */
        padding-left: 0;
        padding-right: 0;
    }

    /* ----------------------- bike_detail page */
    /* heading */
    .bike-heading {
        margin-top: 2.5rem;
        margin-left: 0.625rem;
        padding-left: 0;
        font-size: 20px;
    }

    /* type of mountain bike heading */
    .type {
        margin-left: 0.625rem;
    }

    /* price and rating blocks */
    .mob-price {
        margin-left: 0.375rem;
        line-height: 30px;
        color: black;
    }
    
    /* description block */
    .description {
        margin-left: 0.625rem;
        margin-right: 0;
        padding-right: 0;
    }

    .mob-heading {
        font-size: 20px;
        margin-left: 0.625rem;
        color: rgb(40, 40, 232);
        font-weight: 600;
    }
    
    /* quantity and sizing blocks */
    .qty-size {
        margin-left: 0.625rem;
        margin-right: 0;
    }

    .qty-position {
        font-weight: 600;
        color: rgb(40, 40, 232);
        padding-left: 0.625rem;
    }

    /* ----------------------------------------- B A G  app */

    /* ------------------------------- bag pages */
    /* heading */
    .bag-heading {
        margin-top: 2.5rem;
        font-size: 20px;
    }

    /* bike model name */
    .bag-model{
        font-size: 14px;
    }

    /* total and delivery amounts */
    .total {
        font-size: 14px;
    }

    /* grand total on 'bag-total' */
    .g-total {
        font-size: 16px;
        color: black;
    }

    /* ----------------------------------------- C H E C K O U T  app */

    /* ------------------------------- 'checkout' pages */
    /* heading */
    .checkout-heading {
        margin-top: 2.5rem;
        font-size: 20px;
    }

    /* ----------------------------------------- B U Y I N G _ G U I D E S  app */

    /* ----------------------- what_is_a_mtb page */
    /* headings for: 'what_is_a_mtb' and 'mtb_sizing' pages */
    .bg-spacing {
        margin-top: 2.5rem;
    }

    .bg-heading {
        font-size: 18px;
    }

    .bg-subheading {
        font-size: 16px;
    }
    
    /* ----------------------- mtb_sizing page */
    /* top spacing */
    .bg-spacing-1 {
        margin-top: 2.5rem;
    }

    /* ----------------------------------------- I N F O  app */
    /* ----------------------- 'who_we_are' page */
    /* top spacing */
    .info-spacing {
        margin-top: 2.5rem;
    }

    /* ----------------------- 'contact_us' page */
    .green {
        font-size: 18px;
    }

    /* keep shopping button */
    .mob-shop-btn {
        margin-left: -5px;
        margin-right: 1.25rem;
    }

    /* ---------------------------------------- ACCOUNT TEMPLATES */
    .acc-heading {
        margin-top: 2.188rem;
        font-size: 22px;
    }

    /* -------------------------------------------- B I K E T A L K  app */

    /* ---------------------- article_list.html */

    /* positioning of article list */
    .chat-list-size {
        padding-left: 0;
        width: 42%;
    } 

    /* column width for article list */
    .chat-list-mobile {
        padding: 0;
    }

    .biketalk-subheading {
        font-size: 16px;
    }

    /* author of article post */
    .author {
        margin-top: 15px;
        font-size: 12px;
    }

    /*  title of article post */
    .title {
        font-size: 14px;
    }

    /*  excerpt for article post*/
    .article-post-link {
        text-decoration: none;
        color: #3a3a3a;
        font-size: 12px;
    }

    /* date post created on */
    .created-on {
        font-size: 10px;
    }

    /* ------------------------- article_content page */
    /* heading block at top of page */
    .masthead {
        margin-top: 50px;
        height: 8vh;
        width: 100%;
    }

    /* heading block image */
    .masthead-image {
        display: none;
    }

    /* heading block main title */
    .post-title {
        margin-top: 0;
        margin-left: 0;
        font-size: 20px;
    }

    /* heading block sub title */   
    .post-subtitle {
        font-size: 12px;
        margin-left: 0;
        margin-bottom: 10px;
    }

    /* article post */
    .card-body {
        padding: 0;
        color: black;
    }

    /* background: general user pages (all 'chat' app pages / home page)*/
    .background-general{
        margin-top: -17px;
        margin-bottom: -16px;
    }

}
