<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <!-- dropdown option for 'home' only visible on mobile screens -->
        <li class="nav-item d-block d-md-none">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="{% url 'home' %}" id="home-link">
                Home
            </a>
        </li>
        <!-- dropdown menu for 'All Mountain Bikes' -->
        <li class="nav-item dropdown">
            <a class="font-weight-bold link-nav gen-text mr-5" href="#" id="link-all-bikes" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Mountain Bikes
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="link-all-bikes">
                <!-- sorting by field name (from Product model) -->
                <a href="{% url 'products' %}?sort=price_now&direction=asc" class="dropdown-item">By Price</a>
                <a href="{% url 'products' %}?sort=rating&direction=desc" class="dropdown-item ">By Rating</a>
                <a href="{% url 'products' %}?sort=brand&direction=asc" class="dropdown-item ">By Brand</a>
                <a href="{% url 'products' %}?sort=type&direction=asc" class="dropdown-item">By Type</a>
                <a href="{% url 'products' %}" class="dropdown-item">All Bikes</a>
            </div>
        </li>

        <!-- dropdown menu for 'Buying Guides' -->
        <li class="nav-item dropdown">
            <a class="font-weight-bold link-nav gen-text mr-5" href="#" id="link-all-full-suspension" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Buying Guides
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="link-all-full-suspension">
                <a href="" class="dropdown-item">?</a>
                <a href="" class="dropdown-item ">?</a>
                <a href="" class="dropdown-item ">?</a>
                <a href="" class="dropdown-item">?</a>
            </div>
        </li>

        <!-- dropdown menu for 'Contact Us' -->

        <!-- <a class="nav-link active" aria-current="page" href="{% url 'home' %}">Home</a> -->

        <li class="nav-item dropdown">
            <a class="font-weight-bold link-nav gen-text mr-5" href="#" id="link-all-hardtail" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Contact Us
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="link-all-hardtail">
                <a href="" class="dropdown-item">1</a>
                <a href="" class="dropdown-item ">2</a>
                <a href="" class="dropdown-item ">3</a>
            </div>
        </li>
    </ul>
</div>