<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a class="font-weight-bold link-nav header-text mr-5" href="#" id="link-all-bikes" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Mountain Bikes
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="link-all-bikes">
                <!-- sorting by field name (from Product model) -->
                <a href="{% url 'products' %}?sort=price_now&direction=asc" class="dropdown-item">By Price</a>
                <a href="{% url 'products' %}?sort=rating&direction=desc" class="dropdown-item ">By Rating</a>
                <a href="{% url 'products' %}?sort=brand&direction=asc" class="dropdown-item ">By Brand</a>
                <a href="{% url 'products' %}" class="dropdown-item">All Bikes</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="font-weight-bold link-nav header-text mr-5" href="#" id="link-all-full-suspension" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Full Suspension Mountain Bikes
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="link-all-full-suspension">
                <a href="" class="dropdown-item">By Price</a>
                <a href="" class="dropdown-item ">By Rating</a>
                <a href="" class="dropdown-item ">By Discipline</a>
                <a href="" class="dropdown-item ">By Material</a>
                <a href="" class="dropdown-item">All Full Suspension Bikes</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="font-weight-bold link-nav header-text mr-5" href="#" id="link-all-hardtail" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Hardtail Mountain Bikes
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="link-all-hardtail">
                <a href="" class="dropdown-item">By Price</a>
                <a href="" class="dropdown-item ">By Rating</a>
                <a href="" class="dropdown-item ">By Discipline</a>
                <a href="" class="dropdown-item ">By Material</a>
                <a href="" class="dropdown-item">All Hardtail Bikes</a>
            </div>
        </li>
    </ul>
</div>