{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Change Password" %}{% endblock %}

<!-- uses allauth/account/base.html styling-->
{% block inner_content %}
    <h2 class="gen-text mb-4 acc-heading"><strong>{% trans "Change Password" %}</strong></h2>
    
    <form method="POST" action="{% url 'account_change_password' %}" class="password_change">
        {% csrf_token %}
        {{ form|crispy }}
        <a class="btn btn-outline-black rounded-0" href="{% url 'account_login' %}">Back to Login</a>
        <button type="submit" name="action">{% trans "Change Password" %}</button>
    </form>
{% endblock %}