{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <!-- to push header below main nav bar and site header -->
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}

    <div class="container">
        <div class="row">
            <div class="col-12 col-md-6 col-lg-4 product-position">
                <div class="image-container my-5">
                    {% if product.image %}
                        <!-- link to product image in a new window -->
                        <a href="{{ product.image.url }}" target="_blank">
                            <img class="card-img-bottom img-fluid" src="{{ product.image.url }}" alt="{{ product.bike_model }}">
                        </a>
                        {% else %}
                        <!-- default image if no product image available -->
                        <a href="">
                            <img class="card-img-bottom img-fluid" src="{{ MEDIA_URL }}noimage.png" alt="{{ product.bike_model }}">
                        </a>
                    {% endif %}
                </div>
            </div>
            <!-- individual product details -->
            <div class="col-12 col-md-6 col-lg-4">
                <div class="product-details-container mb-5 mt-md-5">
                    <p class="mb-0 model-font">{{ product.bike_model }}</p>
                    <p class="mb-0 text-left"><strong>Price now:  £{{ product.price_now }}</strong></p>
                    <p class="mb-0 text-left">Price was:  £{{ product.price_was }}</p>
                    
                    <!-- if product has a classification -->
                    {% if product.classification %}
                    <p class="small mt-3 mb-0">
                        <!-- render out with programmatic name as href -->
                        <a class="text-muted" href="{% url 'products' %}?classification={{ product.classification.name }}">
                            <!-- render friendly_name to user -->
                            <i class="fas fa-tag mr-1"></i>{{ product.classification.friendly_name }}
                        </a>
                    </p>
                    {% endif %}
                    <!-- product rating -->
                    {% if product.rating %}
                        <small class="text-muted"><i class="fas fa-star mr-1"></i>{{ product.rating }} / 5</small>
                    {% else %}
                        <small class="text-muted">No Rating</small>
                    {% endif %}
                    <!-- bike specifications -->
                    <table class="table-position">
                        <tr>
                            <td class="label-position"><strong>TYPE:</strong></td>
                            <td>{{ product.type }}</td>
                        </tr>
                        <tr>
                            <td class="label-position"><strong>BRAND</strong></td>
                            <td>{{ product.brand }}</td>
                        </tr>
                        <tr>
                            <td class="label-position"><strong>FRAME IN INCHES:</strong></td>
                            <td>{{ product.frame_in_inches }}</td>
                        </tr>
                        <tr>
                            <td class="label-position"><strong>DISCIPLINE:</strong></td>
                            <td>{{ product.discipline }}</td>
                        </tr>
                        <tr>
                            <td class="label-position"><strong>MATERIAL:</strong></td>
                            <td>{{ product.material }}</td>
                        </tr>
                        <tr>
                            <td class="label-position"><strong>WHEEL SIZE:</strong></td>
                            <td>{{ product.wheel_size }}</td>
                        </tr>
                        <tr>
                            <td class="label-position"><strong>REAR DERAILLEUR:</strong></td>
                            <td>{{ product.rear_derailleur }}</td>
                        </tr>
                        <tr>
                            <td class="label-position"><strong>COLOUR:</strong></td>
                            <td>{{ product.colour }}</td>
                        </tr>
                        <tr>
                            <td class="label-position"><strong>GENDER:</strong></td>
                            <td>{{ product.gender }}</td>
                        </tr>
                    </table>
            </div>
        </div>
    </div>
    
{% endblock %}