{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <!-- column 50% width on medium and larger screens -->
            <div class="col-12 col-md-6">
                <hr>
                <h2 class="logo-font mb-4">Product Management</h2>
                <h5 class="text-muted">Edit a Product</h5>
                <hr>
            </div>
        </div>

        <div class="row">
            <div class="col-12 col-md-6">
                <!-- use 'enctype' (encoding type) should an image file be submitted -->
                <form method="POST" action="{% url 'edit_product' product.id %}" class="form mb-2" enctype="multipart/form-data">
                    <!-- cross site forgery protenction -->
                    {% csrf_token %}
                    {% for field in form %}
                        <!-- if field name is not image -->
                        {% if field.name != 'image' %}
                            <!-- render field as a crispy forms field (i.e. with a label) -->
                            {{ field | as_crispy_field }}
                        {% else %}
                            <!-- render field using custom image widget -->
                            {{ field }}
                        {% endif %}
                    {% endfor %}
                    <div class="text-right">
                        <!-- cancel button, to return to home page -->
                        <a class="btn btn-outline-black rounded-0" href="{% url 'products' %}">Cancel</a>
                        <!-- submit button to update/edit product -->
                        <button class="btn btn-black rounded-0" type="submit">Update Product</button>
                    </div>
                </form>
            </div>            
        </div>
    </div>
{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    <script type="text/javascript">
        /* listen to change event on new image input */
        $('#new-image').change(function() {
            /* when it changes, get file that was added */
            var file = $('#new-image')[0].files[0];
            /* set filename paragraph in widgets template to the file's name */
            $('#filename').text(`Image will be set to: ${file.name}`);
        });
    </script>
{% endblock %}
