{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <!-- to push header below main nav bar and site header -->
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="background-other"></div>
    <div class="container">
        <div class="row">
            <div class="col text-center mt-3">
                <!-- page heading -->
                <h2 class="logo">All Mountain Bikes</h2>
                
            </div>
        </div>
        <div class="row">
            <!-- container for all products on page -->
            <div class="product-container col-10 offset-1">
                <div class="row mt-1 mb-2"></div>
                <div class="row">
                    <!-- for loop: to iterate through products variable -->
                    {% for product in products %}
                        <div class="col-sm-6 col-md-4 col-lg-4 col-xl-3">
                            <!-- individual product cards -->
                            <div class="card h-100 border-0">
                                <!-- image at top of product card -->
                                {% if product.image %}
                                <a href="{% url 'bike_detail' product.id %}">
                                    <img class="card-img-top img-fluid" src="{{ product.image.url }}" alt="{{ product.bike_model }}">
                                </a>
                                {% else %}
                                <!-- default image if no product image available -->
                                <a href="{% url 'bike_detail' product.id %}">
                                    <img class="card-img-top img-fluid" src="{{ MEDIA_URL }}noimage.png" alt="{{ product.bike_model }}">
                                </a>
                                {% endif %}
                                <!-- body of product card -->
                                <div class="card-body pb-0">
                                    <p class="mb-0">{{ product.bike_model }}</p>
                                    <p class="mb-0">{{ product.type }}</p>
                                </div>
                                <!-- footer of product card -->
                                <div class="card-footer bg-white pt-0 border-0 text-left">
                                    <div class="row">
                                        <div class="col">
                                            <!-- displays sale price and old price -->
                                            <p class="lead mb-0 text-left font-weight-bold">£{{ product.price_now }}</p>
                                            <p class="lead mb-0 text-left font-weight-bold">£{{ product.price_was }}</p>
                                            <!-- if statement: product rating (rated out of 5)-->
                                            {% if product.rating %}
                                                <small class="text-muted"><i class="fas fa-star mr-1"></i>{{ product.rating }} / 5</small>
                                            {% else %}
                                                <small class="text-muted">No Rating</small>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- product display for different screen sizes -->
                        {% if forloop.counter|divisibleby:1 %}
                            <!-- render on x-small mobile screens - hide on all other screens -->
                            <div class="col-12 d-sm-none mb-5">
                                <!-- horizontal rule under each product -->
                                <hr>
                            </div>
                        {% endif %}
                        <!-- render on small,medium screens - hide on all other screens                       
                        {% if forloop.counter|divisibleby:2 %}
                            <div class="col-12 d-none d-sm-block d-md-block d-lg-none mb-5">
                                 horizontal rule under each set of 2 products 
                                <hr>
                            </div>
                        {% endif %} -->
                        <!-- render on large screens - hide on all other screens --> 
                        {% if forloop.counter|divisibleby:3 %}
                            <div class="col-12 d-none d-lg-block d-xl-none mb-5">
                                <!-- horizontal rule under each set of 3 products -->
                                <hr>
                            </div>
                        {% endif %}
                        <!-- render on x-large screens - hide on all other screens --> 
                        {% if forloop.counter|divisibleby:4 %}
                            <div class="col-12 d-none d-xl-block mb-5">
                                <!-- horizontal rule under each set of 4 products -->
                                <hr>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    
{% endblock %}