{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <!-- to push header below main nav bar and site header -->
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    
    <div class="container">
        <div class="row">
            <div class="col text-center mt-5">
                <!-- page heading -->
                <h2 class="logo heading">All Mountain Bikes</h2>
                <!-- if multiple classifications are selected -->
                {% for c in current_classifications %}
                    <!-- render out with programmatic name as href -->
                    <a class="classification-badge text-decoration-none" href="{% url 'products' %}?classification={{ c.name }}">
                        <!-- render friendly_name to user -->
                        <span class="p-2 mt-2 badge badge-white gen-text rounded-0 border border-dark">{{ c.friendly_name }}</span>
                    </a>
                {% endfor %}
            </div>
        </div>
        <div class="row">
            <!-- container for all products on page -->
            <div class="product-container col-10 offset-1">
                
                    <div class="col-12 col-md-6 order-md-first">
                        <p class="text-muted mt-3 text-center text-md-left">
                            <!-- return user to products page if entered a 'search' or 'sorting' -->
                            {% if search_term or current_classifications or current_sorting != 'None_None' %}
                                <span class="small"><a href="{% url 'products' %}">All Bikes Home</a> | </span>
                            {% endif %}
                            <!-- 'length' (counts number of products), render to user number of search results-->
                            {{ products|length }} Products{% if search_term %} found for <strong>"{{ search_term }}"</strong>{% endif %}
                        </p>
                    </div>
                </div>
                <div class="row">
                    <!-- for loop: to iterate through products variable -->
                    {% for product in products %}
                        <div class="col-sm-6 col-md-4 col-lg-4 col-xl-3">
                            <!-- individual product cards -->
                            <div class="card h-100 border-0">
                                <!-- image at top of product card -->
                                {% if product.image %}
                                <a href="{% url 'bike_detail' product.id %}">
                                    <img class="card-img-bottom img-fluid" src="{{ product.image.url }}" alt="{{ product.bike_model }}">
                                </a>
                                {% else %}
                                <!-- default image if no product image available -->
                                <a href="{% url 'bike_detail' product.id %}">
                                    <img class="card-img-bottom img-fluid" src="{{ MEDIA_URL }}noimage.png" alt="{{ product.bike_model }}">
                                </a>
                                {% endif %}
                                <!-- body of product card -->
                                <div class="card-body pb-0 pl-0 pr-0">
                                    <p class="mb-0">{{ product.bike_model }}</p>
                                    <p class="mb-0">Type: {{ product.type }}</p>
                                </div>
                                <!-- footer of product card -->
                                <div class="card-footer bg-white pt-0 border-0 text-left">
                                    <div class="row">
                                        <div class="col">
                                            <!-- displays sale price and old price -->
                                            <p class="lead mb-0 font-weight-bold">Now: £{{ product.price_now }}</p>
                                            <p class="lead mb-0">Was: £{{ product.price_was }}</p>
                                            <!-- if product has a classification -->
                                            {% if product.classification %}
                                            <p class="small mt-1 mb-0">
                                                <!-- render out with programmatic name as href -->
                                                <a class="text-muted" href="{% url 'products' %}?classification={{ product.classification.name }}">
                                                    <!-- render friendly_name to user -->
                                                    <i class="fas fa-tag mr-1"></i>{{ product.classification.friendly_name }}
                                                </a>
                                            </p>
                                            {% endif %}
                                            <!-- if statement: product rating (rated out of 5)-->
                                            {% if product.rating %}
                                                <small class="text-muted"><i class="fas fa-star mr-1"></i>{{ product.rating }} / 5</small>
                                            {% else %}
                                                <small class="text-muted">No Rating</small>
                                            {% endif %}
                                            <!-- if statement: superuser -->
                                            {% if request.user.is_superuser %}
                                                <small class="ml-3">
                                                    <!-- link to edit/update a product -->
                                                    <a href="{% url 'edit_product' product.id %}">Edit</a> | 
                                                    <!-- link to delete a product -->
                                                    <a class="text-danger" href="{% url 'delete_product' product.id %}">Delete</a>
                                                </small>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- product display for different screen sizes -->
                        {% if forloop.counter|divisibleby:1 %}
                            <!-- render on x-small mobile screens - hide on all other screens -->
                            <div class="col-12 d-sm-none mb-5">
                                <!-- horizontal rule under each product -->
                                <hr>
                            </div>
                        {% endif %}
                        <!-- render on small,medium screens - hide on all other screens                       
                        {% if forloop.counter|divisibleby:2 %}
                            <div class="col-12 d-none d-sm-block d-md-block d-lg-none mb-5">
                                 horizontal rule under each set of 2 products 
                                <hr>
                            </div>
                        {% endif %} -->
                        <!-- render on large screens - hide on all other screens --> 
                        {% if forloop.counter|divisibleby:3 %}
                            <div class="product col-12 d-none d-lg-block d-xl-none mb-5">
                                <!-- horizontal rule under each set of 3 products -->
                                <hr>
                            </div>
                        {% endif %}
                        <!-- render on x-large screens - hide on all other screens --> 
                        {% if forloop.counter|divisibleby:4 %}
                            <div class="col-12 d-none d-xl-block mb-5">
                                <!-- horizontal rule under each set of 4 products -->
                                <hr>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <!-- arrow button for users to navigate to top of page 
    <div class="btt-button shadow-sm rounded-0 border border-black">
        <a class="btt-link d-flex h-100">
            <i class="fas fa-arrow-up gen-text mx-auto my-auto"></i>
        </a>	
    </div> -->

    <div class="btt-button rounded-0">
        <input type="reset" value="Top" onclick="pageTop()">
    </div>
{% endblock %}

{% block postloadjs %}
    <!-- block.super to ensure this code is appended to anything else 
        already in the block (i.e. base.html), rather than replacing it -->
    {{ block.super }}

    <script>
        window.onbeforeunload = function () {
            window.scrollTo(0, 0);
        };

        function pageTop() {
            window.location.href = window.location.href;
        }
    </script>
    <!-- to handle click function for top of page button 
    <script>
        $('.btt-link').click(function(e) {
            window.scrollTo(0, 0);
        })
    </script> -->

    
{% endblock %}