{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <!-- to push header below main nav bar and site header -->
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="background-other"></div>
    <div class="container">
        <div class="row">
            <div class="col text-center mt-3">
                <!-- page heading -->
                <h2 class="logo">All Mountain Bikes</h2>
                <!-- if multiple classifications are selected -->
                {% for c in current_classifications %}
                    <!-- render out with programmatic name as href -->
                    <a class="classification-badge text-decoration-none" href="{% url 'products' %}?classification={{ c.name }}">
                        <!-- render friendly_name to user -->
                        <span class="p-2 mt-2 badge badge-white gen-text rounded-0 border border-dark">{{ c.friendly_name }}</span>
                    </a>
                {% endfor %}
            </div>
        </div>
        <div class="row">
            <!-- container for all products on page -->
            <div class="product-container col-10 offset-1">
                <div class="row mt-1 mb-2">
                    <!-- sort select box at page top for mobile; at last column for medium, larger screens -->
                    <div class="col-12 col-md-6 my-auto order-md-last d-flex justify-content-center justify-content-md-end">
                        <div class="sort-select-wrapper w-50">
                            <select id="sort-selector" class="custom-select custom-select-sm rounded-0 border border-{% if current_sorting != 'None_None' %}info{% else %}black{% endif %}">
                                <!-- sorting template variable value: if no sorting currently selected then value is none -->
                                <option value="reset" {% if current_sorting == 'None_None' %}selected{% endif %}>Sort by...</option>
                                <!-- sorting template variable value: if 'price ascending' then this will be shown in sort box -->
                                <option value="price_now_asc" {% if current_sorting == 'price_now_asc' %}selected{% endif %}>Price (low to high)</option>
                                <option value="price_now_desc" {% if current_sorting == 'price_now_desc' %}selected{% endif %}>Price (high to low)</option>
                                <option value="rating_asc" {% if current_sorting == 'rating_asc' %}selected{% endif %}>Rating (low to high)</option>
                                <option value="rating_desc" {% if current_sorting == 'rating_desc' %}selected{% endif %}>Rating (high to low)</option>
                                <option value="bike_model_asc" {% if current_sorting == 'bike_model_asc' %}selected{% endif %}>Bike Model (A-Z)</option>
                                <option value="bike_model_desc" {% if current_sorting == 'bike_model_desc' %}selected{% endif %}>Bike Model (Z-A)</option>
                                <option value="classification_asc" {% if current_sorting == 'classification_asc' %}selected{% endif %}>Type (A-Z)</option>
                                <!-- underscore before 'desc/asc' allows split to determine individual components for sort and direction GET parameters in url -->
                                <option value="classification_desc" {% if current_sorting == 'classification_desc' %}selected{% endif %}>Type (Z-A)</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 order-md-first">
                        <p class="text-muted mt-3 text-center text-md-left">
                            <!-- return user to products page if entered a 'search' or 'sorting' -->
                            {% if search_term or current_classifications or current_sorting != 'None_None' %}
                                <span class="small"><a href="{% url 'products' %}">All Bikes Home</a> | </span>
                            {% endif %}
                            <!-- 'length' (counts number of products), render to user number of search results-->
                            {{ products|length }} Products{% if search_term %} found for <strong>"{{ search_term }}"</strong>{% endif %}
                        </p>
                    </div>
                </div>
                <div class="row">
                    <!-- for loop: to iterate through products variable -->
                    {% for product in products %}
                        <div class="col-sm-6 col-md-4 col-lg-4 col-xl-3">
                            <!-- individual product cards -->
                            <div class="card h-100 border-0">
                                <!-- image at top of product card -->
                                {% if product.image %}
                                <a href="{% url 'bike_detail' product.id %}">
                                    <img class="card-img-bottom img-fluid" src="{{ product.image.url }}" alt="{{ product.bike_model }}">
                                </a>
                                {% else %}
                                <!-- default image if no product image available -->
                                <a href="{% url 'bike_detail' product.id %}">
                                    <img class="card-img-bottom img-fluid" src="{{ MEDIA_URL }}noimage.png" alt="{{ product.bike_model }}">
                                </a>
                                {% endif %}
                                <!-- body of product card -->
                                <div class="card-body pb-0">
                                    <p class="mb-0">{{ product.bike_model }}</p>
                                    <p class="mb-0">Type: {{ product.type }}</p>
                                </div>
                                <!-- footer of product card -->
                                <div class="card-footer bg-white pt-0 border-0 text-left">
                                    <div class="row">
                                        <div class="col">
                                            <!-- displays sale price and old price -->
                                            <p class="lead mb-0 text-left font-weight-bold">Now: £{{ product.price_now }}</p>
                                            <p class="lead mb-0 text-left">Was:   £{{ product.price_was }}</p>
                                            <p class="lead mb-0 text-left font-weight-bold">${{ product.price }}</p>
                                            <!-- if product has a classification -->
                                            {% if product.classification %}
                                            <p class="small mt-1 mb-0">
                                                <!-- render out with programmatic name as href -->
                                                <a class="text-muted" href="{% url 'products' %}?classification={{ product.classification.name }}">
                                                    <!-- render friendly_name to user -->
                                                    <i class="fas fa-tag mr-1"></i>{{ product.classification.friendly_name }}
                                                </a>
                                            </p>
                                            {% endif %}
                                            <!-- if statement: product rating (rated out of 5)-->
                                            {% if product.rating %}
                                                <small class="text-muted"><i class="fas fa-star mr-1"></i>{{ product.rating }} / 5</small>
                                            {% else %}
                                                <small class="text-muted">No Rating</small>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- product display for different screen sizes -->
                        {% if forloop.counter|divisibleby:1 %}
                            <!-- render on x-small mobile screens - hide on all other screens -->
                            <div class="col-12 d-sm-none mb-5">
                                <!-- horizontal rule under each product -->
                                <hr>
                            </div>
                        {% endif %}
                        <!-- render on small,medium screens - hide on all other screens                       
                        {% if forloop.counter|divisibleby:2 %}
                            <div class="col-12 d-none d-sm-block d-md-block d-lg-none mb-5">
                                 horizontal rule under each set of 2 products 
                                <hr>
                            </div>
                        {% endif %} -->
                        <!-- render on large screens - hide on all other screens --> 
                        {% if forloop.counter|divisibleby:3 %}
                            <div class="col-12 d-none d-lg-block d-xl-none mb-5">
                                <!-- horizontal rule under each set of 3 products -->
                                <hr>
                            </div>
                        {% endif %}
                        <!-- render on x-large screens - hide on all other screens --> 
                        {% if forloop.counter|divisibleby:4 %}
                            <div class="col-12 d-none d-xl-block mb-5">
                                <!-- horizontal rule under each set of 4 products -->
                                <hr>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <!-- arrow button for users to navigate to top of page -->
    <div class="arrow-button shadow-sm rounded-0 border border-black">
        <a class="arrow-link d-flex h-100">
            <i class="fas fa-arrow-up gen-text mx-auto my-auto"></i>
        </a>	
    </div>
{% endblock %}

{% block postloadjs %}
    <!-- block.super to ensure this code is appended to anything else already in the block, rather than replacing it -->
    {{ block.super }}
    <!-- to handle click function for top of page button -->
    <script type="text/javascript">
        $('.btt-link').click(function(e) {
          window.scrollTo(0,0)
        })
    </script>

    <script type="text/javascript">
        // capture change event from source selector
        // set variables: for the selector (this) and for the current url (current windows location)
        // enables replacing of current GET parameters (needed to update sorting methodology)
        $('#sort-selector').change(function() {
            var selector = $(this);
            var currentUrl = new URL(window.location);

            // obtain selected value from selector box
            var selectedVal = selector.val();
            // if not 'reset', sort as per selected value and chosen direction (asc/desc)
            if(selectedVal != "reset"){
                var sort = selectedVal.split("_")[0];
                var direction = selectedVal.split("_")[1];

                //replace GET parameters in url with search parameters
                currentUrl.searchParams.set("sort", sort);
                currentUrl.searchParams.set("direction", direction);
                // replace current location with updated current url, causing page to reload
                // and products to resort accordingly
                window.location.replace(currentUrl);
            } else {
                // if value is 'reset', delete sort, direction parameters
                currentUrl.searchParams.delete("sort");
                currentUrl.searchParams.delete("direction");
                // and replace location
                window.location.replace(currentUrl);
            }
        })
    </script>
{% endblock %}